<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>管理员</title>
<link rel="stylesheet" href="/css/layui.css">
<link rel="stylesheet" href="/css/global.css">
<style type="text/css">
.layui-form-item .layui-input-inline {
	width: 300px;
}

.layui-layout-admin .layui-logo {
	color: white;
	font-size: 20px;
}
</style>
</head>
<body>
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-xs10">
				<form class="layui-form layui-form-pane" action="">
					<div class="layui-form-item">
						<label class="layui-form-label">收入名称</label>
						<div class="layui-input-inline">
							<input type="text" name="inname" placeholder="" lay-verify="inname"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">收入类型 </label>
						<div class="layui-input-inline">
							<select name="intypeid" lay-filter="inComeType">
								<option th:each="inType,userStat:${inTypeList}"
									th:value="${inType.getItid()}" th:text="${inType.getItname()}"></option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">收入金额</label>
						<div class="layui-input-inline">
							<input type="text" name="money" placeholder="￥" lay-verify="number"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<input type="hidden" name="accountid" th:value="${session.userNow.getUid()}">
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" class="layui-textarea" lay-verify="remark"
								name="remark"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<button class="layui-btn" lay-submit="" lay-filter="inComeBtn">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/layui.js"></script>
	<script type="text/javascript">
		layui.use([ 'form', 'element','layer' ], function() {
			var $ = layui.jquery;
			var element = layui.element;
			var form = layui.form;
			var layer = layui.layer;
			//表单校验
			form.verify({
				inname: function(value, item){ //value：表单的值、item：表单的DOM对象
				    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
				      return '不能有特殊字符';
				    }
				    if(/(^\_)|(\__)|(\_+$)/.test(value)){
				      return '首尾不能出现下划线\'_\'';
				    }
				  }
				  ,remark: function(value, item){ //value：表单的值、item：表单的DOM对象
				    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
				      return '不能有特殊字符';
				    }
				    if(/(^\_)|(\__)|(\_+$)/.test(value)){
				      return '首尾不能出现下划线\'_\'';
				    }
				  }
			});
			//监听提交
			form.on('submit(inComeBtn)', function(data) {
				$.ajax({
		             type: "POST",
		             url: "/user/addOneIncome",
		             dataType: 'json',
		             contentType: 'application/json',
		             data:JSON.stringify(data.field),
		             success: function(data){
		            	 layer.msg(data.msg, {time: 1000}, function () {
	                            //重新加载父页面
	                            location.reload();
	                        });
		             }
		         });
				return false;
			});
		});
	</script>
</body>
</html>