<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="leftList" th:fragment="leftList" style="margin-right: 10px;">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">收入信息</a>
    <dl class="layui-nav-child">
      <dd class="layui-this"><a href="#" data-url="incomeManage" id="incomeManage" data-type="tabAdd">收入信息汇总</a></dd>
      <dd><a href="#" data-url="addIncome" id="addIncome" data-type="tabAdd">添加收入信息</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">支出信息</a>
    <dl class="layui-nav-child">
      <dd><a href="#" data-url="expenditureManage" id="expenditureManage" data-type="tabAdd">支出信息汇总</a></dd>
      <dd><a href="#" data-url="addExpenditure" id="addExpenditure" data-type="tabAdd">添加支出信息</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="/user/personAlanalysis" target="_blank">个人账目分析</a></li>
</ul>